@model List<ContatoModel>
@{
    ViewData["Title"] = "Lista de Contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
        <a class="btn btn-outline-primary" role="button" asp-controller="Contato" asp-action="Criar">NOVO</a>
    </div>

    <h1 class ="display-4">@ViewData["Title"]</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">E-Mail</th>
          <th scope="col">Número</th>
          <th scope="col">Editar</th>
          <th scope="col">Deletar</th>
        </tr>
      </thead>
      <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(var contato in Model)
                {
                    <tr>
                      <th scope="row">@contato.Id</th>
                      <td>@contato.Nome</td>
                      <td>@contato.Email</td>
                      <td>@contato.Celular</td>
                      <td><a role="button" class="btn btn-primary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a></td>
                      <td><a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="ApagarConfirmacao">Deletar</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>