@model List<UsuarioModel>
@{
    ViewData["Title"] = "Lista de Usuário";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
        <a class="btn btn-outline-primary" role="button" asp-controller="Usuario" asp-action="Criar">Adicionar novo usuário</a>
    </div>

    @if(TempData["MessagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
          <button type="button" class="btn btn-outline-danger bt-sm close-alert" arial-lable="Close">X</button>
          @TempData["MessagemSucesso"];
        </div>
    } 
    @if(TempData["MessagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
           <button type="button" class="btn btn-outline-danger bt-sm close-alert" arial-lable="Close">X</button>
           @TempData["MessagemErro"];
        </div>        
    }


    <br />



    <h1 class ="display-4">@ViewData["Title"]</h1>

    <table class="table" id="table-usuarios">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Login</th>
          <th scope="col">E-Mail</th>
          <th scope="col">Perfil</th>
          <th scope="col">Contatos</th>
          <th scope="col">Data de cadastro</th>
          <th scope="col">Editar</th>
          <th scope="col">Deletar</th>
        </tr>
      </thead>
      <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(var usuario in Model)
                {
                    <tr>
                      <th scope="row">@usuario.Id</th>
                      <td>@usuario.Nome</td>
                      <td>@usuario.Login</td>
                      <td>@usuario.Email</td>
                      <td>@(usuario.Perfil == ControleDeContatos.Models.Enum.PerfilEnum.Admin ? "Administrador" : "Padrão")</td>
                      <td>
                          <a href="javascript:" usuario-id="@usuario.Id" class="btn btn-success btn-sm btn-total-contatos">
                              @(usuario.Contatos != null && usuario.Contatos.Any() ? usuario.Contatos.Count() : 0)
                          </a>
                      </td>
                      <td>@usuario.DataCadastro</td>
                      <td><a role="button" class="btn btn-primary" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Editar">Editar</a></td>
                      <td><a role="button" class="btn btn-danger" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="ApagarConfirmacao">Deletar</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal" tabindex="-1" id="modalContatoUsuario">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Lista de Contatos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
             <div id="listaContatoUsuario"></div>

          </div>
        </div>
      </div>
    </div>

</div>